{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
{% endblock %}

{% block body %}
    <div class="box">
        <article class="media">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="media-content">
                <div class="content">Logged as: {{ app.user.name }}</div>
                <a href="{{ path('security_logout') }}" class="button is-info">Logout</a>
            </div>
            {% else %}
                <a href="{{ path('connect_facebook') }}" class="button is-link">
            <span class="icon">
                <i class="fa fa-facebook"></i>
            </span>
                    <span>Login with Facebook</span>
                </a>
            {% endif %}
        </article>
    </div>
{% endblock %}
