{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block jumbotron %}
    <div class="container pt-1 pb-3">
        <div class="row">
            <div class="col-lg-8 col-xs-12">
                <h1>Zomge Q1</h1>
                <hr>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3 class="text-white">Starting from 399&euro;</h3>
                        </div>
                        <div class="col-xs-12 text-center">
                            <h3 class="text-white">A phone with customizable back</h3>
                        </div>
                    </div>
            </div>

            <div class="col-lg-4 hidden-xs hidden-sm hidden-md flex-row">
                <img src="{{ asset('images/phone1.png') }}" alt="" class="img-responsive">
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center mb-3">
            <h2><strong>BEAUTIFUL PHOTOS</strong></h2>
            <h4>TAKEN WITH Zomge Q1</h4>
        </div>
    </div>

    <div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-3"><img src="{{ asset('images/1.jpeg') }}" class="img-responsive"></div>
        <div class="col-md-3"><img src="{{ asset('images/2.jpeg') }}" class="img-responsive"></div>
        <div class="col-md-3"><img src="{{ asset('images/3.jpeg') }}" class="img-responsive"></div>
        <div class="col-md-3"><img src="{{ asset('images/4.jpeg') }}" class="img-responsive"></div>
    </div>
    </div>

    <div class="container mt-4">
        <h3 class="mb-3"><strong>Basic Parameters</strong></h3>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                <strong>Dimensions</strong>
                <p>148.9 x 68.1 x 8 mm</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <strong>Weight</strong>
                <p>155g</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <strong>Battery</strong>
                <p>Non-removable Li-Ion 3000 mAh battery</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <strong>Operating System</strong>
                <p>Android 8.0 Oreo</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <strong>CPU</strong>
                <p>Qualcomm MSM8998 Snapdragon 835 (Octa-core, 10nm, up to 2.45Ghz)</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <strong>GPU</strong>
                <p>Adreno 540</p>
            </div>
            <div class="col-xs-12 text-center no-flex">
                <a href="{{ path('specs') }}" class="btn btn-lg btn-inverse btn-primary mt-2">MORE SPECIFICATIONS</a>
            </div>
        </div>
    </div>
{% endblock %}
