{% extends "::base.html.twig" %}

{% block title %}Order #{{ order.orderNumber }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        {% include "@App/_flash.html.twig" %}

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div id="phone">
                    <img src="/uploads/{{ order.photo }}">
                    <img src="{{ asset('images/camera.png') }}" alt="Camera" id="camera">
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Order #{{ order.orderNumber }}</div>
                    <div class="panel-body">
                        <p><strong>Name:</strong> {{ order.user.name }}</p>
                        <p><strong>Address:</strong> {{ order.user.address }}</p>
                        <p><strong>City:</strong> {{ order.user.city }}</p>
                        <p><strong>Postal code:</strong> {{ order.user.postalCode }}</p>
                        <p><strong>Phone no.:</strong> {{ order.user.phoneNumber }}</p>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>Item</th>
                            <th class="col-md-1">Price</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Zomge Q1</td>
                                <td>399&euro;</td>
                            </tr>
                            <tr>
                                <td>Back panel material: {{ order.backPanel }}</td>
                                <td>{{ order.backPanelPrice }}&euro;</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="text-right mr-1">
                                        <h4>Total price: {{ 399 + order.backPanelPrice }}&euro;</h4>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}