<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img alt="Brand" src="{{ asset('images/logo.png') }}"> Zomge
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><img src="{{ app.user.facebookPhoto }}" alt="Profile photo" class="hidden-sm hidden-xs" style="height: 50px;"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('users_orders') }}">Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="pr-1"><a href="{{ path('admin_index') }}">ADMIN PANEL</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ path('connect_facebook') }}" class="mr-1">Login with Facebook</a></li>
                {% endif %}
                <li><a href="{{ path('buy_now') }}" class="buynow">BUY NOW</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>